.space {
    height: 25px;
}

.space[id="baseboard"] {
    height: 100px;
}

a {
    background: none;
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.profile {
    background-color: rgb(30, 30, 30);
}

.profile div[id="name"] {
    display: flex;
}

.profile div[id="name"] p{
    margin-top: 33px;
    margin-left: 10px;
}

.profile div[id="name"] h1{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile div[id="start_tab"] {
    display: flex;
}

.profile div[id="banner"]{
    display: block;
}

.profile div[id="banner"] img{
    width: 100%;
    margin: 0px;
}

.profile div[id="banner"] a{
    margin: 0px;
    margin-top: -20px;
    left: 20px;
}

.profile div[id="profile_picture"] img{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 75px;
}

.profile div[id="profile_picture"] {
    text-align: center;
}

.profile div[id="biography"] p{
    margin: 0px;
}

.profile div[id="t2"] {
    display: flex;
}

.profile div[id="t2"] a{
    display: flex;
}

.profile div[id="t2"] p{
    margin-right: 10px;
}

.profile div[id="links"] {
    margin-left: auto;
    margin-right: 0px;
}

.profile div[id="links"] p{
    margin-top: -33px;
    margin-right: 20px;
}

.profile div[id="publications"]{
    display: inline;
}

.profile div[id="publications"] div[id="no_publication"]{
    margin-top: 128px;
    text-align: center;
}

.profile div[id="publications"] div[id="no_publication"] h2{
    font-size: 50px;
}

.profile div[id="publications"] div[id="no_publication"] h1{
    font-size: 20px;
}