@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    /*padding-top: 45px;*/
    /*box-sizing: border-box;*/
    background-color: rgb(24, 26, 28);
    font-size: 15px;
    color: rgb(200, 200, 200);
}

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    background: none;
    text-decoration: none;
    color: rgb(200, 200, 200);
}

a:hover svg{
    fill: rgb(120, 120, 200);
}

svg {
    fill: rgb(200, 200, 200);
}

._subclass {
    width: 90%;
}

.background {
    width: 100%;
    height: 100%;
}

.background-noise {
    position: fixed;
    background-image: url('../media/images/noise.png');
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    filter: brightness(0.05);
}

.b2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*background: linear-gradient(to bottom, #020107 0%, rgb(24, 26, 58) 100%);*/
}

.banner h1 {
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(200, 200, 200);
}

.banner p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.banner img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px rgba(40, 40, 100, 0.9);
}

._flex_column_xCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

._h563 {
    margin-top: 8px;
}

._h563 a{
    margin-right: 5px;
}

._h563 svg{
    width: 20px;
    height: 20px;
}

.about {
    width: 100%;
    height: auto;
    margin-bottom: 70px;
}

._ab82{
    width: 100%;
    max-width: 700px;
    font-size: 20px;
}

._t02 {
    width: 100%;
}

._t03 {
    align-items: normal;
}

._t04 {
    margin-bottom: 20px;
    margin-right: 15px;
}

.about_description {
    margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    color: rgb(200, 200, 200);
    margin-top: 10px;
    margin-bottom: 10px;
}

.bb8 {
    width: calc(100% + 5px);
    margin-right: -5px;
    flex: 1 1 0%;
    height: 8px;
    background: rgb(120, 120, 200);
}

.bb9 {
    width: 15px;
    height: 15px;
    margin-right: -5px;
    border: 8px solid rgb(120, 120, 200);
    border-radius: 50%;
    display: inline-block;
}

.bb7 {
    width: 15px;
    height: 25px;
    margin-left: -5px;
    margin-right: 10px;
    background: rgb(120, 120, 200);
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

.d1 {
    margin-left: 35px;
}

.timeline {
    width: 100%;
}

.timeline h4 {
    font-size: 15px;
}

.project {
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 300px;
    min-height: 500px;
    margin: 12.5px;
    background: rgb(29, 31, 33);
    border-radius: 10px;
}

.project h4 {
    font-size: 25px;
}

.project_img img {
    width: calc(100% - 4px);
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px 10px 0 0;
    border: 2px solid rgb(29, 31, 33);
}

.project_links {
    margin-top: 10px;
}

.project_links a{
    margin-right: 5px;
}

.project_links svg{
    width: 25px;
    height: 25px;
}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project_used_skills {
    margin-bottom: 10px;
}

.skill {
    width: 300px;
    min-width: 300px;
    height: 180px;
    min-height: 180px;
    margin: 12.5px;
    background: rgb(29, 31, 33);
    border-radius: 10px;
}

.skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skills h4 {
    font-size: 25px;
}

._contact {
    position: relative;
    width: 300px;
    min-width: 300px;
    height: 200px;
    min-height: 200px;
    margin: 12px;
    background: rgb(29, 31, 33);
    border-radius: 10px;
}

.contact_send_mail {
    width: 1000px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 6px;
    background: rgb(29, 31, 33);
    border-radius: 10px;
}

.contact_send_mail input, textarea {
    border: 2px solid rgb(35, 35, 35);
    outline: none;
    border-radius: 10px;
    color: rgb(200, 200, 200);
    background-color: rgb(34, 36, 38);
}

.contact_send_mail input:focus, textarea:focus {
    color: rgb(200, 200, 200);
    /*background: rgb(50, 50, 50);*/
    background: rgb(44, 46, 48);
    border-color: rgb(120, 120, 255);
}

.contact_send_mail input:-webkit-autofill, textarea:-webkit-autofill {
    caret-color: #fff;
    -webkit-box-shadow: 0 0 0 100px rgba(34, 36, 38, 0.98) inset;
    -webkit-text-fill-color: rgb(200, 200, 200);
}

.contact_error {
    width: 100%;
    height: 40px;
    background: rgb(255, 50, 50);
    border-radius: 10px;
    margin-bottom: 15px;
}

.in_contact_send_mail{
    width: 80%;
}

.NameMail input {
    width: 100%;
    margin: 0px 0 0 0;
    padding: 12px;
}

.message input, textarea {
    width: 100%;
    height: 290px;
    margin: 12px 0 12px 0;
    padding: 12px;
    resize: none;
}

.contact_terms {
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 15px;
}

.contact_terms input {
    cursor: pointer;
}

.contact_terms label {
    cursor: pointer;
}

.contact_terms a {
    color: rgb(150, 150, 150);
}

.contact_terms a:hover {
    color: rgb(150, 150, 255);
}

.contact_send_button {
    width: calc(80% + 12px * 3 + 6px);
}

.contact_send_button input {
    width: 100px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border: none;
}

.contact_send_button input:hover {
    background: rgb(80, 80, 160);
    cursor: pointer;
}

.contact {
    position: relative;
    width: 200px;
    min-width: 100px;
    height: 60px;
    min-height: 60px;
    margin: 12.5px;
    background: rgb(29, 31, 33);
    border-radius: 10px;
    transition: 0.2s;
}

.contact:hover {
    background: rgb(80, 80, 160);
}

.contact h4 {
    font-size: 20px;
}

.contact svg {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    fill: rgb(200, 200, 200);
}

.contact a:hover svg{
    fill: rgb(200, 200, 200);
}

.contacts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 750px) and (min-width: 0px){
    .d1 {
        margin: 0px;
    }

    .projects {
        flex-wrap: nowrap;
        scroll-behavior: unset;
        overflow-x: scroll;
        justify-content: initial;
    }

    .skills {
        flex-wrap: nowrap;
        scroll-behavior: unset;
        overflow-x: scroll;
        justify-content: initial;
    }

    .b2 {
        width: auto;
        flex-direction: column;
    }

    .bb8 {
        width: 8px;
        height: 100%;
        margin-right: 0px;
        margin-bottom: -5px;
    }

    .bb9 {
        margin-right: 0px;
        margin-bottom: -5px;
    }

    .bb7 {
        margin: 0px;
        margin-top: -5px;
        transform: rotate(90deg);
    }
    
    ._t02 {
        display: flex;
    }

    ._t04 {
        margin-left: 10px;
    }

    ._t04 h4{
        margin-top: 7px;
    }

    .contact {
        width: calc(50% - 6px * 2);
        min-width: 150px;
        margin: 6px;
    }
    
    .contact h4 {
        font-size: 15px;
    }
    
    .contact svg {
        width: 20px;
        height: 20px;
    }
}

.skill_banner {
    width: 100%;
    height: calc(100% - 35px);
}

._contact_banner {
    width: 100%;
    height: calc(100% - 50px);
}

.contact_banner {
    width: 100%;
    height: 100%;
}

._flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_d001 {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.button_d001 button,.button_d001 a div {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    background: rgb(120, 120, 200);
    color: rgb(200, 200, 200);
    border-radius: 0 0 10px 10px;
    transition: 0.2s;
}

.button_d001 button:hover,.button_d001 a div:hover {
    background: rgb(80, 80, 160);
}

#admin_link {
    background: none;
    position: absolute;
    width: 15px;
    height: 15px;
}

.copyright {
    width: 100%;
    height: 20px;
    margin-top: 50px;
    background-color: rgb(40, 40, 40);
}
