.search {
    width: 100%;
    height: auto;
    display: flex;
    background: none;
}

.search input {
    width: 20%;
    height: 30px;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 2.5%;
    margin-left: auto;
    outline: none;
    border: none;
    border-left: 5px solid rgb(35, 35, 35);
    border-radius: 10px;
    color: rgb(200, 200, 200);
    background: rgb(35, 35, 35);
    transition: 0.2s;
}

.search h1 {
    margin: 0px;
    margin-left: 3%;
    margin-top: auto;
    margin-bottom: auto;
}

.search input:focus {
    color: rgb(200, 200, 200);
    background: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
}

.separation_bar {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    background: none;
}

.separation_bar h1 {
    margin: 0px;
    font-size: 20px;
}

.separation_bar a[type="left"] {
    color: rgb(200, 200, 200);
    background: none;
    outline: none;
    text-decoration: none;
    margin: 0px;
    margin-left: 3%;
    transition: 0.2s;
}

.separation_bar a[type="left"]:hover {
    color: rgb(120, 120, 255);
}

.separation_bar a[type = right] {
    color: rgb(200, 200, 200);
}

.store_highlight {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 0px;
    background: none;
}

.store_highlight a {
    width: 100%;
    height: 100%;
    background: none;
    text-decoration: none;
}

.store_highlight img {
    width: 95%;
    margin-left: 2.5%;
    border-radius: 10px;
}

.store_page_00 {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
    background: none;
}

.store_page_00 div {
    width: 50%;
    height: auto;
    background: none;
}

.store_page_00 div img {
    width: 90%;
    margin-top: 0px;
    margin-left: 5%;
    border-radius: 10px;
}

.store_page_00 div h1 {
    margin-top: 10px;
    margin-left: 6%;
    margin-bottom: 5px;
    text-decoration: none;
    background: none;
    color: rgb(255, 255, 255);
    
}

.store_page_00 div h1[id="money"] {
    text-align: right;
    margin-right: 6%;
    margin-bottom: 0px;
}

.store_page_00 div p {
    margin-top: 0px;
    margin-left: 6%;
    margin-bottom: 0px;
    text-decoration: none;
    background: none;
    color: rgb(200, 200, 200);
}

.store_page_01 {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
    background: none;
}

.store_page_01 div {
    width: 50%;
    height: auto;
    background: none;
}

.store_page_01 div a {
    display: flex;
}

.store_page_01 div a div {
    width: 70%;
    height: auto;
}

.store_page_01 img {
    width: 50%;
    margin-left: 5%;
    border-radius: 10px;
}

.store_page_01 h1 {
    margin: 0px;
    margin-top: 2px;
    margin-left: 1%;
}

.store_page_01 div h1[id="money"] {
    text-align: right;
    margin-right: 12%;
    margin-top: auto;
    margin-bottom: 0px;
}
